* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 9em;
    height: 40vh;
}

.parallax {
    height: 80vh;
    background: url('assets/worldNightLights.jpg')repeat fixed;
}

.parallax-inner {
    padding: 4em 2em;
    color: white;
}

footer {
    height: 400px;
}